.item > a {
    border: 1px solid black;
    /* text-align: center; */
    line-height: 20px;
    display: inline;
    float: left;
    border: 1px solid #ccc;
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    color: #999;
}

.item > a.active {
    color: red;
    border: 1px solid red;
}

.item1.currentPage {
    line-height: 28px;
    color: #999;
}